# -----------------------------------
# Linux                             |
# -----------------------------------
*~

# -----------------------------------
# Windows                           |
# -----------------------------------
Desktop.ini
ehthumbs.db
Thumbs.db

# -----------------------------------
# VS CODE                           |
# -----------------------------------
.vscode/

# -----------------------------------
# macOS                             |
# -----------------------------------
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# -----------------------------------
# nodejs & npm                      |
# -----------------------------------
node_modules/
npm-debug.log


# -----------------------------------
# Miscellaneous                     |
# -----------------------------------
*.pyc
